/* --- STYLES FOR ALL PAGES --- */
body {
  /* Typography */
  font-family: 'Poiret One', cursive;

  background: url("/assets/img/rbw_cable.jpg");
  background-size: 100%;

}

/* NAV START */
#logo {
font-family: 'Lobster', cursive;

  /* Typography */
  font-size: 24px;
  color: orange;
}

/* override bootstrap hover color and border */
#navbarTogglerDemo01 a:hover {
  color: orange;
}


/* CONNECT W/ ME CSS */
.connect-header {
  /* Typography */
  font-size: 25px;
}

.connect-photo {
  /* Box-model */
  width: 55px;
  height: 55px;
}

#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}
/* END CONNECT W/ ME */


/* BEGIN FOOTER */
footer {
  /* Positioning */
  position: fixed;
  bottom: 0;
  left: 0;

  /* Footer Size */
  width: 100vw;
  height: 30px;

  /* Visual */
  background-color: #343a40;
  color: #fff;
  text-align: center;
}

/* END FOOTER */
/* --- END STYLES FOR ALL PAGES --- */

/* --- PAGE-SPECIFIC STYLES --- */

/* ABOUT-ME PAGE */
.container {
  margin-top: 50px;
  margin-bottom: 150px;
  padding: 50px;
  background: rgba(116, 115, 113, 0.438);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.page-header h1, p {
  font-weight: bold;
}

/* END ABOUT-ME PAGE */


/* PORTFOLIO PAGE */
.port-image {
  margin: 20px auto;
}
/* END PORTFOLIO PAGE */


/* CONTACT FORM PAGE  */
.form-control {
  /* give input boxes right angles */
  border-radius: 0;

  /* keep from horizontally resizing text area */
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  /* Box-model */
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;

  /* Typography */
  color: #fff;

  /* Visual */
  background-color: #4aaaa5;
  border: 0;
}

.submit-btn:hover {
  opacity: .7;
}

/* END CONTACT FORM PAGE */
